{% extends 'layout.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="container well">
		<div class="col-md-9">
			<h2>{{ user.firstName }} {{ user.lastName }}</h2>
			<br>
			<dl>
				<dt>{{'Username'|trans}}</dt>
				<dd>
					{{ user.username }}
					&nbsp;
				</dd>
				<br>

				<dt>{{'First name'|trans}}</dt>
				<dd>
					{{ user.firstName }}
					&nbsp;
				</dd>
				<br>

				<dt>{{'Last name'|trans}}</dt>
				<dd>
					{{ user.lastName }}
					&nbsp;
				</dd>
				<br>

				<dt>{{'Email'|trans}}</dt>
				<dd>
					{{ user.email }}
					&nbsp;
				</dd>
				<br>

				<dt>{{'Role'|trans}}</dt>
				<dd>
					{% if user.role == 'ROLE_ADMIN' %}
						Administrador 
					{% elseif user.role == 'ROLE_USER' %}
						Usuario
					{% endif %}
					&nbsp;
				</dd>
				<br>

				<dt>{{'Active'|trans}}</dt>
				<dd>
					{% if user.isActive == 1 %}
						<span class="text-success">Habilitado</span>
					{% elseif user.isActive == 0 %}
						<span class="text-warning">Deshabilitado</span>
					{% endif %}
					&nbsp;
				</dd>
				<br>

				<dt>{{'Creado el'}}</dt>
				<dd>
					{{ user.createdAt|date('d-m-Y H:i') }}
					&nbsp;
				</dd>
				<br>

				<dt>{{'Actualizado el'}}</dt>
				<dd>
					{{ user.updatedAt|date('d-m-Y H:i') }}
					&nbsp;
				</dd>
				<br>
			</dl>
		</div>
		<div class="col-md-3">
			<h3>{{ 'Acciones'}}:</h3>
			<p>
				<a href="{{ path('ranh_user_edit', { id: user.id }) }}" class="btn btn-primary btn-lg btn-block">
					<span class="glyphicon glyphicon-edit"></span>
					{{ 'Editar Usuario' }}
				</a>
			</p>
			<p>
				{{ include('RANHUserBundle:User:forms/form.html.twig', { form: delete_form, message: '¿Esta seguro?' }) }}
			</p>
		</div>
	</div>
{% endblock %}