{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}


    <div class="main container" style="width: 40%; margin-top: 5%">
        <div class="row well">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>{{ 'New Category'|trans }}</h2>
                </div>
                {{ form_start(form) }}

                {{ form_start(form) }}
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr':{'class':'form-control', 'placeholder':'New Category'}}) }}

                {{ form_label(form.description) }}
                {{ form_widget(form.description, { 'attr': { 'class':'form-control', 'placeholder':'Description' }}) }}
                <br/>

                <p>
                    {{ form_widget(form.save, {'label' : 'Crear Categoria', 'attr': { 'class':'btn btn-success' }}) }}
                </p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
